.main{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .link{
        text-decoration: underline;
    }
    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
        font-weight: bold;
        span:nth-child(1){
            text-decoration: underline;
        }
    }
}